*{
   margin: 0;
   padding: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /* background: #000; */

}
body{
    /* overflow-y: hidden; Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

nav{
    display: flex;
    align-items: center;
}

.logo img{
    height: 67px;
    margin-right: 0px;
    border-radius: 50px;
    
}



.btn ul{
    display: flex;
    padding: 0px 10px;
}

.btn ul li{
    list-style: none;
    padding: 0px 12px;
    color: white;
    font-size: 20px;
}


.btn ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.3vw;
    
}


#nav-bar{
    margin: 25px 46px;
   
}

#nav-hr{
    width: 1837px;
    margin: -18px 13px;
}


header{
    background: rgba(0,0,0,0.7)url(img/bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -26px;
}

main{
    height: 40vw;
    /* background-color: red; */
    width: 100%;
    display: flex;
    color:white;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.txt{
    /* background: red; */
    height: 37vw;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 68px;
}
.up{
    margin-bottom: -54px;
    line-height: 45px;
    margin-bottom: 10px;
}
.sm-txt{
    font-size: 25px;
    
}
.b-txt{
    font-size: 60px;
    font-weight: 600;
    height: 4vw;
    /* line-height: 72px; */
}

.btn button{
    background: none;
    color: white;
    border: 1px solid #fff ;
    padding: 16px 24px;
    border-radius: 20px;
    font-size: 14px;

}
.d{
    height: 3vw;
}
.btn button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.u-main{
    /* background-color: red; */
    color: black;
    height: 30vw;
    width: 110%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.lo-vid{
    /* border: 1px solid; */
    height: 19vw;
    width:25%;
    margin: 0 350px;
    display: flex;
    justify-content: center;
}

.u-txt-area{
    /* border: 1px solid; */
    height: 16vw;
    width: 25%;
    margin: 0 -216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lo-vid img{
    height: 18vw;
}

.u-btn button{
    background: none;
    color: rgb(0, 0, 0);
    border: 1px solid #000000 ;
    padding: 16px 24px;
    border-radius: 20px;
    font-size: 14px;
}
.u-txt-area h2{
    font-size: 2vw;
    margin-bottom: 31px;
}
.u-btn button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}













footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 100px;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

.social-icon {
    margin: 0 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}


.footer-logo img{
    border-radius: 50px;
}

footer i{
    
        color: #fff;
}